[Unit]
Description=uWSGI instance to serve Pi-Router
After=network.target

[Service]
User=root
WorkingDirectory=/home/pi/web_server
ExecStart=/home/pi/.local/bin/uwsgi --ini web_server.ini

[Install]
WantedBy=multi-user.target

