{% extends 'base.html' %}
{% set active = "Edit Settings" %}

{% block title %}
Edit Settings
{% endblock %}

{% block content %}

<br>
<h3>Network Settings</h3>
<hr>

<body>
  <div class="container">
    {% for setting in credentials %}
    {{setting}}<br>
    {% endfor %}
    <br>
    <h5 style="color:red;">{{change}}</h5>
    <form class="form-inline" method="POST">
      <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Edit a setting:</label>
      <select name="setting" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option selected>Please choose a setting</option>
        <option value="ssid">SSID</option>
        <option value="password">Password</option>
      </select>
      <br>
      <div class="form-group">
        <input type="text" class="form-control" id="new_value" name='new_value' placeholder="New Value">
      </div>
      <br>
      <button type="submit" class="btn btn-primary my-1">Submit</button>
    </form>
    <br>
    <i>A reboot is required for changes to take effect</i>
  </div>
  <br>
</body>

{% endblock %}